@import "fonts.css";

body {
  margin: 0;
  background: #def3fd;
}
.slide {
  /*width: 100vw;
  height: 100vh;*/
  min-width: 960px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 19900px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
#outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

/*esconder scrollbar*/
.outer-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/*.intro {
   background-image: url(../imgs/intro.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size: contain;
}

.one {
   background-image: url(../imgs/s1.png);
    background-position: left bottom; 
   background-repeat:no-repeat;

   background-size: contain;
}
.two {
   background-image: url(../imgs/s2.png);
    background-position: left bottom; 
   background-repeat:no-repeat;

   background-size: contain;
}
.three {
   background-image: url(../imgs/s3.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size: contain;
}
.four {
   background-image: url(../imgs/s4.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size: contain;
}
.five {
   background-image: url(../imgs/s5.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size:contain;

=======
  background-image: url(../imgs/intro.svg);
  width: 2000px;
}*/

.one {
  background-image: url(../imgs/s1.svg);
  width: 4000px;
}
.two {
  background-image: url(../imgs/s2.svg);
  width: 3600px;
}
.three {
  background-image: url(../imgs/s3.svg);
  width: 4600px;
}
.four {
  background-image: url(../imgs/s4.svg);
  width: 2000px;
}
.five {
  background-image: url(../imgs/s5.svg);
  width: 3700px;
}

#object {
  position: absolute;
  left: 250px;
  top: 50%;
  height: 30px;
  width: 30px;
  background: black;
  z-index: 9999;
}
