@import "fonts.css";


body{
    margin: 0;
    background: #DEF3FD;
}
.slide {
  /*width: 100vw;
  height: 100vh;*/
  min-width: 960px;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
#outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

/*esconder scrollbar*/
.outer-wrapper {

  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}


.intro {
   background-image: url(../imgs/intro.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size: contain;
   /*background-size:1859px 1080px !important;*/
}

.one {
   background-image: url(../imgs/s1.png);
    background-position: left bottom; 
   background-repeat:no-repeat;

   background-size: contain;
   /*background-size:1280px 359px;*/
}
.two {
   background-image: url(../imgs/s2.png);
    background-position: left bottom; 
   background-repeat:no-repeat;

   background-size: contain;
   /*background-size:3952px 1080px;*/
}
.three {
   background-image: url(../imgs/s3.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size: contain;

   /*background-size:3772px 1080px;*/
}
.four {
   background-image: url(../imgs/s4.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size: contain;
   /*background-size:2822px 1080px;*/
}
.five {
   background-image: url(../imgs/s5.png);
    background-position: left bottom; 
   background-repeat:no-repeat;
   background-size:contain;

}


#object {
  position: absolute;
  left: 250px;
  top: 50%;
  height: 30px;
  width: 30px;
  background: black;
  z-index: 9999;
}
